@font-face {
  font-family: arrow;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://png.pngtree.com/background/20230616/original/pngtree-fairy-forest-in-hd-desktop-wallpaper-picture-image_3627866.jpg");
  background-size: cover;
}

.fade-in-text {
  font-family: cursive;
  font-size: x-large;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.startscreen-blob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 70%;
  background-image: url(old-scroll-picture.png);
  box-shadow: 0 0 8px 8px rgb(30, 23, 18) inset;
}

.start-button {
  display: flex;
  color: #ffffff;
  background-color: #13452d;
  padding: 10px 16px;
  border-radius: 20px;
  transition: all 0.3s ease;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: medium;
  font-family: cursive;
}

.start-button > .arrow {
  width: 6px;
  height: 6px;
  border-right: 2px solid #c2ffe9;
  border-bottom: 2px solid #c2ffe9;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 6px;
  transition: all 0.5s ease;
}

.start-button > .arrow::before {
  display: block;
  background-color: currentColor;
  width: 3px;
  transform-origin: bottom right;
  height: 2px;
  position: absolute;
  opacity: 0;
  bottom: calc(-2px / 2);
  transform: rotate(45deg);
  transition: all 0.3s ease;
  content: "";
  right: 0;
}

.start-button:hover > .arrow {
  transform: rotate(-45deg) translate(4px, 4px);
}

.start-button:hover > .arrow::before {
  opacity: 1;
  width: 10px;
}

.start-button:hover {
  background-color: #017a4f;
  color: #fff;
}
