.unicorn-button-container {
  position: relative;
  width: 150%;
  min-height: 1000px;
  background-image: url("https://png.pngtree.com/background/20230616/original/pngtree-fairy-forest-in-hd-desktop-wallpaper-picture-image_3627866.jpg");
  background-size: cover;
}

.unicorn-button-container .btn-primary {
  position: absolute;
  background-color: transparent;
}

.unicorn-button-container .btn-primary:nth-child(1) {
  left: 56px;
  top: 66px;
}

.unicorn-button-container .btn-primary:nth-child(2) {
  position: absolute;
  left: 304px;
  top: 45px;
}

.unicorn-button-container .btn-primary:nth-child(3) {
  left: 105px;
  top: 105px;
}

.unicorn-button-container .btn-primary:nth-child(4) {
  left: 108px;
  top: 236px;
}

.unicorn-button-container .btn-primary:nth-child(5) {
  left: 261px;
  top: 169px;
}

.unicorn-button-container .btn-primary:nth-child(6) {
  left: 22px;
  top: 168px;
}

.unicorn-button-container .btn-primary:nth-child(7) {
  left: 291px;
  top: 95px;
}
