/* Box for the whole pop-up-module*/
.modal-content {
  margin-top: 30%;
}

/*Style for modal body*/
.popup-body {
  display: flex;
  flex-wrap: wrap;
  background-image: url("src/old-scroll-picture(1).jpg");
}

.text {
  flex: 1; /* Take up remaining space */
  padding-right: 20px; /* Space between text and image */
}

.img {
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: flex-end; /* Align image to the right */
  align-items: center; /* Center image vertically */
}

/* Style for modal footer*/
.modal-footer {
  display: flex;
  align-items: center;
  background-image: url("src/old-scroll-picture(1).jpg") !important;
}

/* Style for modals header */
.modal-header {
  background-image: url("src/old-scroll-picture(1).jpg");
}

/* Style for modal header-text */
.modal-title.h4 {
  color: #000;
  font-family: cursive;
  font-size: xx-large;
}
