/*.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #333;
  color: #eee;
}*/

.wrapper {
  width: 100vw;
}

@media screen and (min-width: 900px) {
  .wrapper {
    width: 1000px;
  }
}

aside {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  width: 100%; /* Set width to 100% */
  position: fixed; /* Position the navbar at the top */
  top: 0; /* Position the navbar at the top */
  background-color: rgb(0 0 0 / 56%); /* Optional: Add background color */
  z-index: 1000; /* Optional: Set z-index for stacking context */
  height: 8%;
}

aside button {
  /* Additional button styles if needed */
  margin: 10px; /* Optional: Add some spacing between buttons */
}
