.wrapper {
  width: 100vw;
}

@media screen and (min-width: 900px) {
  .wrapper {
    width: 1000px;
  }
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.554);
  z-index: 1000;
  height: 8%;
}

aside button {
  margin: 10px;
  background-color: black;
  color: white;
}
