body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://png.pngtree.com/background/20230616/original/pngtree-fairy-forest-in-hd-desktop-wallpaper-picture-image_3627866.jpg");
  background-size: cover;
  padding-top: 40px;
}

.fable-list-container button {
  background-color: transparent;
}

ol {
  background-color: none;
  float: left;
  border: none;
}

.fable-list-container {
  width: 160vh;
  height: 89vh;
  background-image: url(fable-background.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 8px 8px rgb(30, 23, 18) inset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 55px;
}

.fable-list-container h3 {
  font-size: medium;
  color: black;
}

h1 {
  padding-top: 20px;
  padding-bottom: 1px;
  text-align: center;
}

.selected-fable-name {
  font-size: x-large;
  text-decoration: none;
  color: rgb(10, 64, 26);
  font-family: cursive;
}

.fable-list-container > ul {
  padding-left: 10%;
  padding-top: 10%;
}

.fable-list-container h3 {
  font-size: large;
  text-decoration: none;
  border: none;
}

li {
  padding: 2%;
}

.fable-text {
  padding-top: 5px;
  text-align: center;
  max-width: 57%;
  white-space: normal;
  font-size: smaller;
  animation: fade-in 4s forwards;
  border: 1px solid rgba(0, 0, 0, 0.251);
  padding: 20px;
  font-family: cursive;
}

.list-container {
  margin-left: 120px;
  border: 1px solid black;
}

.list-container button {
  border: none;
}

.next-button,
.song-button {
  border: 1px solid black;
  font-family: "Courier New", Courier, monospace;
  width: 100px;
  height: 100px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png")
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;

  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}

.placement {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 200px;
  right: 220px;
  border: 1px solid black;
}

.song-button {
  position: absolute;
  top: 150px;
  right: 120px;
}

.next-button {
  position: absolute;
  top: 150px;
  right: 470px;
}
