body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
@font-face {
  font-family: "story-font";
  src: url("./fonts/GoudyBookletter1911-Regular.ttf") format("truetype"),
    url("./fonts/GoudyBookletter1911-Regular.woff") format("woff"),
    url("./fonts/GoudyBookletter1911-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://png.pngtree.com/background/20230616/original/pngtree-fairy-forest-in-hd-desktop-wallpaper-picture-image_3627866.jpg");
  background-size: cover;
  padding-top: 40px;
}

.fable-list-container button {
  background-color: transparent;
}

ol {
  background-color: none;
  float: left;
  font-family: "story-font";
  border: none;
}

.fable-list-container {
  width: 160vh;
  height: 89vh;
  background-image: url(fable-background.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 8px 8px rgb(30, 23, 18) inset;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 55px;
}

.fable-list-container h3 {
  font-size: medium;
  color: black;
}

h1 {
  padding-top: 20px;
  padding-bottom: 1px;
  font-family: "story-font";
  text-align: center;
}

.selected-fable-name {
  font-size: x-large;
  text-decoration: none;
  color: rgb(10, 64, 26);
}

.fable-list-container > ul {
  padding-left: 10%;
  padding-top: 10%;
}

.fable-list-container h3 {
  font-size: large;
  text-decoration: none;
  border: none;
}

li {
  padding: 2%;
}

.fable-text {
  padding-top: 5px;
  text-align: center;
  max-width: 57%;
  white-space: normal;
  font-size: small;
  animation: fade-in 4s forwards;
  font-family: "story-font";
  border: 1px solid black;
  padding: 20px;
}

.next-button {
  position: absolute;
  top: 200px;
  right: 470px;
}

.vote-button {
  position: absolute;
  top: 200px;
  right: 400px;
}

.song-button {
  position: absolute;
  top: 200px;
  right: 300px;
}

.list-container {
  margin-left: 120px;
  border: 1px solid black;
}

.list-container button {
  border: none;
}

.next-button,
.vote-button,
.song-button {
  border: 1px solid black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
